body{
    background-size: 100%;
}

.h-700{
    height: 700px;
}

.w-100{
    width: 100%;
}

.main-row-dimensions{
    width: 100%;
    height: 90%;
}

.round-border{
    border-radius: 30px;
}

.green{
    background-color: #27823f !important;
}

.text-green{
    color: #27823f !important;
}

.invalid-p{
    color: red;
    display: none;
}

.invalid-u{
    color: red;
    display: none;
}

.all-fields{
    color: red;
    display: none;
}

.invalid-user{
    color: red;
    display: none;
}
.valid-user{
    color: rgb(13, 220, 33);
    display: none;
}

#welcome{
    font-size: 50px;
    color: white;
    text-align: center;
}